doctype html
html
  head
    title MyGraphDB
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/empty.js")
    script(src="/javascripts/jquery-3.4.1.js")
  body
    block content
